*
!README.md
!.gitignore
!linux-5.15.180/
!linux-5.15.180/kernel/
!linux-5.15.180/kernel/sched/
# lottery.c is where we define the lottery scheduling class
!linux-5.15.180/kernel/sched/lottery.c
# sched.h contains definition of rq (run queue) and struct sched_class
!linux-5.15.180/kernel/sched/sched.h
# core.c contains the sched_init() function, which initializes the scheduler
# here we'll call the init function of our lottery scheduling class
!linux-5.15.180/kernel/sched/core.c
# Makefile ensures we compile lottery.c
!linux-5.15.180/kernel/sched/Makefile

!linux-5.15.180/include/
!linux-5.15.180/include/uapi/
!linux-5.15.180/include/uapi/linux
# uapi/linux/sched.h contains the definition of the scheduling policies
!linux-5.15.180/include/uapi/linux/sched.h

!linux-5.15.180/include/
!linux-5.15.180/include/linux/
# sched.h contains the definition of struct task_struct 
!linux-5.15.180/include/linux/sched.h

# Tweak to fork.c to give a default amount of lottery tickets to a process
!linux-5.15.180/kernel/fork.c

# script.bash is a simple script to run QEMU with the kernel image and the initramfs
!qemu_launch.sh

# Script to compile the kernel inside another folder
!linux-5.15.180/compile.sh

# Benchmark files
!benchmark
!benchmark/monitor.sh
!benchmark/dummy_program.c
!benchmark/dummy_launcher.c

# Linker file that defines the memory layout of the kernel
# this is used to add the scheduling class to the kernel
!linux-5.15.180/include/asm-generic/
!linux-5.15.180/include/asm-generic/vmlinux.lds.h